<div class='form-container'>
  <h1>Sign up</h1>
  <form action='/user/signup' method='post'>
    <div class='form-group'>
      <label for='email' class='control-label'>Email</label>
      <input type='text' id='email' name='email' class='form-control' />
    </div>
    <div class='form-group'>
      <label for='password' class='control-label'>Password</label>
      <input type='text' id='password' name='password' class='form-control' />
    </div>

    <button type='submit' class='button button-submit'>Sign Up</button>
  </form>
</div>